@media only screen and (max-width: 375px) {
    body{
        font-size: 12px;
    }
    img {
        width: 50px;
        height: 50px;
    }
}
@media only screen and (max-width: 414px) {
    body{
        font-size: 12px;
    }
    img {
        width: 50px;
        height: 50px;
    }
}
@media only screen and (max-width: 320px) {
    body{
        font-size: 10px;
    }
    img {
        width: 50px;
        height: 50px;
    }
}


ul {
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(233, 216, 179);
    text-shadow:  #333 1px 1px 1px;
}

.ibody {
    background: rgb(12, 94, 216);
    text-align: center;
}

a {
    font-size: 2em;
    text-decoration: none;
    font-family: papyrus;
    color: rgb(29, 238, 40);
    text-shadow:  #333 2px 2px 2px;
    transition: color .5s;
    transition: font-size .5s;
}

a:hover {
    color: yellow;
    font-size: 2.5em;
}


.pbody {
    background: rgb(32, 20, 206);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: bisque
}



#span1 {
    color: chocolate;
    font-size: .3em;
    transition: color .5s;
    transition: font-size .5s;
}

#span1:hover {
    color: blanchedalmond;
    font-size: .6em;
}

#span2 {
    width: 5px;
}

.namestyle {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(72, 126, 228);
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    margin-top: 5px;
}


.bhead {
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: #333 1px 1px 1px;
    color: rgb(223, 226, 46);
    background-image: url('/images/Path.png');
    background-repeat: no-repeat;
    margin-bottom: 20px;
    background-size: 100% 100%; 
    text-align: center;
    padding: 5px;
    border: #333 2px solid;
    border-radius: 15px;
    width: auto;
    height: auto;
}

.bstyle {
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background: url('/images/py2.jpg');
    color: #333;
    padding: 2px;
    border: #333 2px solid;
    border-radius: 10px;
}

.list {
    border-radius: 0px 20px 0px 20px;
    background-image: url('/images/py2.jpg');
    background-repeat:  no-repeat;
    background-size: cover;
    color: rgb(51, 35, 35);
    padding: 10px;
    opacity: 0.2;
    transition: color, opacity  1.2s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.list:hover {
    opacity: 1;
    color: #fff;
}





